<!DOCTYPE html>
<html lang="en">
<head th:insert="blocks/head::head">
<script src="https://www.google.com/recaptcha/api.js"></script>
<div th:insert="blocks/header::header"></div>
<body>
<div class="container">

    <form class="well form-horizontal" action="/auth "  method="post"  modelAttribute="userForm" enctype="multipart/form-data">
        <fieldset>

            <!-- Form Name -->
            <legend style="text-align: center;"><h2><b>Регистрация</b></h2></legend><br>

            <!-- Text input-->
            <br>
            <div align="center">

                <label class="col-md-4 control-label">Введите логин</label>
                <br>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input name="login" placeholder="Username" class="form-control"  type="text" minlength="4" required>
                    </div>
                </div>

                <!-- Text input-->
                <br>
                <div class="form-group">
                    <label class="col-md-4 control-label" >Пароль</label>
                    <br>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input id="password" name="password" placeholder="Password" class="form-control"  type="password" minlength="8" required>
                        </div>
                    </div>
                </div>

                <!-- Text input-->
                <br>
                <div class="form-group">
                    <label class="col-md-4 control-label" >Подтвердите пароль</label>
                    <br>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input id="confirmPassword" name="confirmPassword" placeholder="Confirm Password" class="form-control"  type="password">
                        </div>
                    </div>
                </div>
                <br>
                <span id="password-error" style="color: red;"></span>
                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label">Электронная почта</label>
                    <br>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                            <input name="email" placeholder="E-Mail Address" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" class="form-control"  type="email" required>
                        </div>
                    </div>
                </div>



                <br>

                <div class="g-recaptcha" data-sitekey="6LevH7MlAAAAACjRxJ0zs-yI-Z5a7CeOWYAF4VAb">
                </div>
                <div th:if="${captchaError}" class="alert-danger"   role="alert"><p class="text-danger" th:text="${captchaError}"></p></div>



                <!-- Select Basic -->
                <div th:if="${passwError}" class="alert-danger"  role="alert"><p class="text-danger" th:text="${passwError}"></p></div>
                <div th:if="${usernameError}" class="alert-danger"  role="alert"><p class="text-danger" th:text="${usernameError}"></p></div>
                <!-- Button -->
                <div class="form-group">
                    <label class="col-md-4 control-label"></label>
                    <div class="col-md-4"><br>
                        <input id="submit" type="submit" class="btn btn-dark" value="Зарегистрироваться" >
                    </div>
                </div>
            </div>
        </fieldset>

    </form>
</div>
<br>
<div th:insert="blocks/footer::footer"></div>
<script>



</script>
</body>