<div th:fragment="header">
    <header class="backHeader d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom ">
        <div class="col-md-3 mb-2 mb-md-0">
            <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
                <svg class="bi" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
            </a>
        </div>
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="/" class="nav-link px-2 text-body-secondary link-secondary">Главная страница</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary link-secondary" >О нас</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary link-secondary">Контакты</a></li>

        </ul>


        <div class="col-md-3 text-end" >
            <a href="/mylogin" ><button type="button" class="btn btn-outline-dark me-2">Войти</button></a>

            <a href="/auth"><button  class="btn btn-dark">Зарегистрироваться</button></a>
        </div>
    </header>
</div>